<mat-toolbar>
  <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Pick a pic</span>
  <span *ngIf="authService.user$ | async as user" class="user-profile">{{ user.email }}</span>
  <button
    (click)="signOut()"
    *ngIf="authService.user$ | async"
    [matTooltip]="'buttons.signOut' | translate"
    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
    class="example-icon favorite-icon"
    mat-icon-button
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<div class="app-container">
  <router-outlet></router-outlet>
</div>
