.header {
  display: flex;
  flex-direction: column;

  .mat-card-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .user-avatar-photo {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
      margin-right: 1rem;
    }

    .delete-button {
      margin-left: auto;
      color: darkgray;
      transition: color 1000ms ease;

      &:hover {
        color: unset;
      }
    }
  }
}

.upvoted {
  box-shadow: 0 4px 2px -2px red, 0 2px 2px 0 red, 0 2px 6px 0 red;
}

.left-right {
  display: flex;
  justify-content: center;
  align-items: center;

  .thumbs-up {
    cursor: pointer;
    position: relative;
    width: 48%;

    img {
      width: 100%;
      transform: translateY(2px);
    }

    .thumbs-up-counter {
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      min-width: 48px;
      color: white;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
