.sign-up-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;

  .sign-up-form {
    width: 400px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    padding: 20px;

    form {
      display: block;

      footer {
        display: flex;
        justify-content: space-between;

        > button {
          display: block;
        }
      }
    }

    .error-message {
      background-color: crimson;
      color: white;
    }
  }
}
