<div class="posts-container">
  <article>
    <p>Add a post</p>
    <form (submit)="createPost()" [formGroup]="formGroup">
      <label for="title">Title:</label>
      <input [formControl]="formControl('title')" id="title" name="title" type="text" />
      <label for="content">Content:</label>
      <input [formControl]="formControl('content')" id="content" name="content" type="text" />

      <div>
        <button mat-stroked-button type="submit">Submit</button>
      </div>
    </form>
  </article>
  <ng-container *ngIf="(posts$ | async).length > 0; else noPosts">
    <article *ngFor="let post of posts$ | async">
      <h2>{{ post.title }}</h2>
      <span>{{ post.content }}</span>
    </article>
  </ng-container>
  <!--<button (click)="getAllPosts()">get_all_posts</button>-->
  <!--<button (click)="deleteLastPost()">delete_last_post</button>-->
</div>
<ng-template #noPosts>
  <p>{{ 'noPostsFound' | translate }}</p>
</ng-template>
<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
